<!-- <h1>hello world!!</h1>
<app-rooms></app-rooms> -->
<!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1>This is from ng-content</h1>
</app-container> -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">
        welcome user!!
    </div>
    <div *ngSwitchCase="'Admin'">
        welcome Admin!!
    </div>
    <div *ngSwitchDefault>
        no access!!
    </div>
</div> -->
<!-- <div>
    <ng-template #user></ng-template>
</div>
<div #name></div>  -->
<!-- <a [routerLink] = "'rooms'">Rooms</a>
<a [routerLink] = "'employee'">Employee</a> -->
<app-app-nav></app-app-nav>
<!-- <router-outlet></router-outlet> -->